.contents {
    position: static;
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
}
.avatar-1bVtEA {
    pointer-events: auto;
}
.header-23xsNx {
    overflow: hidden;
    display: block;
    position: relative;
    line-height: 1.375rem;
    min-height: 1.375rem;
    color: #e1e1e2;
    white-space: break-spaces;
    word-wrap: pre-wrap;
}

.username-1A8OIy {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    color: #e1e1e2;
    display: inline;
    vertical-align: baseline;
    position: relative;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.headerText-3Uvj1Y {
    margin-right: .25rem;
}

.timestamp-3ZCmNB {
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: var(--text-muted);
    vertical-align: baseline;
    display: inline-block;
    height: 1.25rem;
    cursor: default;
    pointer-events: none;
    font-weight: 500;
}

.timestamp {
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: #575a61;
}

.separator-2nZzUB {
    position: absolute;
    opacity: 0;
    width: 0;
    display: inline-block;
    font-style: normal;
}

.messageContent-2qWWxC {
    position: relative;
}

.avatar-1BDn8e {
    position: absolute;
    left: 16px;
    margin-top: calc(4px - .125rem);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    pointer-events: none;
    z-index: 1;
}